<div class="col-md-4">

    <!-- Blog Search Well -->
    {{ render(controller('MyFrontendBundle:Layout:renderFormSearch')) }}

    <!-- Recommand update Well -->
    <div class="well">
        <h4>recommend[update profile]</h4>
        <div class="input-group">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
        </div>
        <!-- /.input-group -->
    </div>

    <!-- Blog Categories Well -->
    {{ render(controller('MyFrontendBundle:Layout:renderRecommendUser')) }}

    <!-- Side Widget Well -->
    {{ render(controller('MyFrontendBundle:Layout:renderTopFriendsActivities')) }}

</div>