<div class="well">
    <h4>recommend[update profile]</h4>
    <div class="input-group">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
    </div>
    <!-- /.input-group -->
</div>