<div class="modal fade" id="myModalSocialNetwork" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Add more social network</h4>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label for="google">Google:</label>
                    <input type="text" class="form-control" id="google" name="google" placeholder="Enter google plug">
                </div>

                <div class="form-group">
                    <label for="facebook">Facebook:</label>
                    <input type="text" class="form-control" id="facebook" name="facebook" placeholder="Enter facebook">
                </div>

                <div class="form-group">
                    <label for="github">Github:</label>
                    <input type="text" class="form-control" id="github" name="github" placeholder="Enter github">
                </div>

                <div class="form-group">
                    <label for="stackoverflow">Stackoverflow:</label>
                    <input type="text" class="form-control" id="stackoverflow" name="stackoverflow" placeholder="Enter stackoverflow">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="btnSaveSocialNetwork" class="btn btn-primary" data-loading-text="Loading...">Save changes</button>
            </div>
        </div>
    </div>
</div>
